dbt_packages/
dbt_internal_packages/
logs/
target/
.env
*.json
venv/

#React Projects
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Allow React app configuration and public files
!dashboards/react/recalls-dashboard/package.json
!dashboards/react/recalls-dashboard/package-lock.json
!dashboards/react/recalls-dashboard/public/**